@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Azeret Mono", monospace;
}
/* banner-conteinar-start */
.banner-conteinar{
    max-width:1440px;
    min-height:652px; 
    background-image:url(../assets/Hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    
}
.image-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.image-content img{
   width: 240.28px;
   height:240px;
   margin-top: 26px;
   margin-bottom: 32px;
  

}
.image-content h1{
    width: 998px;
    font-weight: 800px;
    line-height: 68px;     
    margin: 32px 221px 24px 221px;
    align-items: center;
    text-align: center; 

}
.image-content p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    margin: 24px 294px 32px 294px;
    line-height: 26px;
    align-items: center;
    text-align: center;
    opacity: 0.7;
    flex: none;

}
.btn{
    color: rgb(255, 255, 255);;
    margin-bottom: 44px;
    background-color: rgb(13, 19, 33);
    font-size: 20px;
    border: none;
    border-radius: 8px;
    width: 208px;
    height: 66px;
    text-align: center;
    padding:21px 24px 21px 24px;;
   
}
   /* banner-conteinar-End */

   /* main-section-start */
.Web-Development-section{
    max-width: 1140px;
    min-height: 1339px;
    border: 2px solid red;
    background-color: rgba(13, 19, 33, 0.02);
    margin: 0 auto;
    margin-top: 74px;
}
.devlopment-container{
    width: 946px;
    height: 1233px;
    border: 2px solid greenyellow;
    display: flex;
    margin: 0 auto;
    margin: 80px 97px 80px 97px;
}
.first-section{
    width: 852px;
    height: 113px;
    border: 2px solid rgb(0, 26, 255);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    padding: 0px;
}
.first-section h3{
    font-size: 32px;
    font-weight: 800;
    color: rgb(13, 19, 33);
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    
}
.first-section p{
    font-size: 16px;
    font-weight: 400px;
    line-height: 26px;
    text-align: center;
    color:rgb(13, 19, 33);
    opacity: 0.7;
    margin: 15px 0;


}




